<?xml version="1.0" encoding="UTF-8"?>

<web-app>

  <listener>
    <listener-class>aces.webctrl.centralizer.addon.core.Initializer</listener-class>
  </listener>

  <welcome-file-list>
    <welcome-file>index</welcome-file>
  </welcome-file-list>

  <servlet>
    <servlet-name>MainPage</servlet-name>
    <servlet-class>aces.webctrl.centralizer.addon.web.MainPage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MainPage</servlet-name>
    <url-pattern>/index</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>LocalOperatorList</servlet-name>
    <servlet-class>aces.webctrl.centralizer.addon.web.LocalOperatorList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LocalOperatorList</servlet-name>
    <url-pattern>/LocalOperatorList</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>ManageServers</servlet-name>
    <servlet-class>aces.webctrl.centralizer.addon.web.ManageServers</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManageServers</servlet-name>
    <url-pattern>/ManageServers</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>ManageOperators</servlet-name>
    <servlet-class>aces.webctrl.centralizer.addon.web.ManageOperators</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManageOperators</servlet-name>
    <url-pattern>/ManageOperators</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>ManageFileSync</servlet-name>
    <servlet-class>aces.webctrl.centralizer.addon.web.ManageFileSync</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManageFileSync</servlet-name>
    <url-pattern>/ManageFileSync</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>StartLocation</servlet-name>
    <servlet-class>aces.webctrl.centralizer.addon.web.StartLocation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StartLocation</servlet-name>
    <url-pattern>/StartLocation</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>ChangePassword</servlet-name>
    <servlet-class>aces.webctrl.centralizer.addon.web.ChangePassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangePassword</servlet-name>
    <url-pattern>/ChangePassword</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>aces.webctrl.centralizer.addon.web.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>

  <security-constraint>
    <web-resource-collection>
      <web-resource-name>WEB</web-resource-name>
      <url-pattern>/*</url-pattern>
    </web-resource-collection>
  </security-constraint>

</web-app>